<div class="widget-demo__steps__box__steps">
    <a href="index.html" class="back-btn" title="Volver atras">
        <img src="img/back.svg" alt="Flecha atras">
    </a>
    <div class="progresses step-2">
        <div class="steps">
            <span class="font-weight-bold">1</span>
            <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="steps">
            <span class="font-weight-bold">2</span>
            <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="steps">
            <span class="font-weight-bold">3</span>
            <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
</div>
<div class="middle-content">
    <div class="vertical-center justify-content-center">
        <div class="widget-demo__steps__box__title p-0">
            <h2>¿Cuál es el banco que no encuentras?</h2>
            <p class="subtitle">Si no encontrás tu banco es que no trabajamos con el, pero dejanos saber donde tenés cuenta y si próximamente la habilitaremos te avisaremos por mail.</p>
        </div>
        <div class="widget-demo__steps__box__content-input">
            <form action="step-4.html">
                <div class="row">
                    <div class="col-12 mb-28">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput-1" placeholder="Escribe el nombre de tu banco">
                            <label for="floatingInput-1">Escribe el nombre de tu banco</label>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center mb-28">
                        <button type="submit" class="btn btn-primary ">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="widget-demo__steps__box__footer">
        <img src="img/logo.svg" alt="Cirenio">
    </div>
</div>