<div class="widget-demo__steps__box__steps">
    <div class="progresses step-1">
        <div class="steps">
            <span class="font-weight-bold">1</span>
            <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="steps">
            <span class="font-weight-bold">2</span>
            <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="steps">
            <span class="font-weight-bold">3</span>
            <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
</div>
<div class="middle-content">
    <div class="vertical-center justify-content-center p-0">
        <div class="widget-demo__steps__box__title">
            <h2>Validemos tus finanzas conectandote con tu banco</h2>
            <p class="subtitle">Para otorgarte el crédito necesitaremos conocer sobre tus finanzas para que no tengas problemas si necesitas cancelarlo.</p>
        </div>
        <div class="flex-content-body">
            <div class="widget-demo__steps__box__card">
                <h2>Conexión segura</h2>
                <ul class="check_list">
                    <li>
                        <div class="check_list__content">
                            <div class="check_list__check">
                                <div class="circle-check">
                                    <img src="img/check_icon.svg" alt="">
                                </div>
                            </div>
                            <div>Tomará menos de <strong>30 segundos</strong></div>
                        </div>
                    </li>
                    <li>
                        <div class="check_list__content">
                            <div class="check_list__check">
                                <div class="circle-check">
                                    <img src="img/check_icon.svg" alt="">
                                </div>
                            </div>
                            <div>Tus datos de ingreso <strong>NO</strong> serán compartidos con nadie.</div>
                        </div>
                    </li>
                    <li>
                        <div class="check_list__content">
                            <div class="check_list__check">
                                <div class="circle-check">
                                    <img src="img/check_icon.svg" alt="">
                                </div>
                            </div>
                            <div>Nuestro compromiso es tu seguridad por eso usamos <strong>tecnología de encriptación.</strong></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" href="step-2.html" role="button">Continuar</a>
            </div>
        </div>
        <p class="disclaimer">Al continuar, acepto los <a href="https://www.cirenio.com/terminos" target="_blank">Términos y Condiciones</a> y nuestra <a href="https://www.cirenio.com/privacidad" target="_blank">Política de Privacidad</a>. Además, doy mi consentimiento para recopilar y compartir sólo datos financieros de mi cuenta bancaria con xxxxxxxx.</p>
    </div>
</div>
<div class="widget-demo__steps__box__footer">
    <img src="img/logo.svg" alt="Cirenio">
</div>