<div class="widget-demo__steps__box__steps">
    <a href="step-5.html" class="back-btn" title="Volver atras">
        <img src="img/back.svg" alt="Flecha atras">
    </a>
    <div class="progresses step-3">
        <div class="steps">
            <span class="font-weight-bold">1</span>
            <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="steps">
            <span class="font-weight-bold">2</span>
            <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="steps">
            <span class="font-weight-bold">3</span>
            <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
</div>
<div class="middle-content">
    <div class="vertical-center justify-content-center p-0">
        <div class="widget-demo__steps__box__img d-flex justify-content-center mb-15 pr-3rem">
            <img src="img/santander.png" alt="Banco Santander">
        </div>
        <div class="widget-demo__steps__box__title mb-28 pr-3rem">
            <p class="subtitle large mb-0">Ingresa tus datos para conectar a <strong>tu cuenta de homebanking</strong> de Santender.</p>
        </div>
        <div class="widget-demo__steps__box-input mb-28 pr-3rem">
            <div class="row m-0">
                <div class="col-12 p-0 mb-28 doc-user">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Documento</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Usuario</label>
                    </div>
                </div>
                <div class="col-4 dni mb-28">
                    <div class="form-floating">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>DNI</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-8 p-0 mb-28">
                    <div class="form-floating">
                        <input type="text" class="form-control  is-invalid" id="floatingInput-1" placeholder="Tu número de documento">
                        <label for="floatingInput-1">Tu número de documento</label>
                    </div>
                </div>
                <div class="col-12 p-0 mb-28">
                    <div class="content-input-password">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingInput-2" placeholder="Tu clave">
                            <label for="floatingInput-2">Tu clave</label>
                        </div>
                        <div class="eye-toggle" onclick="password_show_hide(this);">
                            <img src="img/eye-close.svg" alt="Mostrar password" class="show-pass">
                            <img src="img/eye-open.svg" alt="Ocultar password" class="hide-pass">
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-15">
                    <div class="content-input-password">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingInput-3" placeholder="Tu nombre de usuario">
                            <label for="floatingInput-3">Tu nombre de usuario</label>
                        </div>
                        <div class="eye-toggle" onclick="password_show_hide(this);">
                            <img src="img/eye-close.svg" alt="Mostrar password" class="show-pass">
                            <img src="img/eye-open.svg" alt="Ocultar password" class="hide-pass">
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-28">
                    <div class="row">
                        <div class="col-6 d-flex justify-content-start p-0">
                            <a href="#!" class="link-icon keyboard">Teclado virtual</a>
                        </div>
                        <div class="col-6 d-flex justify-content-end p-0">
                            <a href="#!"class="link-icon">Olvidé mi clave / usuario</a>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger d-flex d-none" role="alert">
                    <div class="d-flex align-items-start">
                        <img src="img/danger.svg" alt="Error">
                    </div>
                    <div>
                        <h2>Se ha bloqueado tu clave por superar los 3 intentos de ingreso.</h2>
                        <p>Para continuar tienes que desbloquear tu clave ingresando al <a href="#!">sitio de Santander</a>.</p>
                    </div>
                </div>
                <div class="alert alert-warning d-flex d-none" role="alert">
                    <div class="d-flex align-items-start">
                        <img src="img/info.svg" alt="Error">
                    </div>
                    <div>
                        <h2>Olvidó completar el nombre de usuario</h2>
                        <p>Complete el campo faltante.</p>
                    </div>
                </div>
                <div class="col-12 mb-28 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary disabled">Conectar</button>
                </div>
                <div class="content-protect-data" onclick="toggleInfo(this)">
                    <div class="content-protect-data__header">
                        <div class="content-protect-data__header__icon">
                            <img src="img/lock.svg" alt="">
                        </div>
                        <h2>¿Cómo protegemos tus datos?</h2>
                        <div class="content-protect-data__header__icon">
                            <a href="#!" class="toggle-info" title="Desplegar información">Desplegar/plegar</a>
                        </div>
                    </div>
                    <div class="content-protect-data__body">
                        <ul class="check_list">
                            <li>
                                <div class="check_list__content">
                                    <div class="check_list__check">
                                        <div class="circle-check">
                                            <img src="img/check_icon.svg" alt="">
                                        </div>
                                    </div>
                                    <div>Tus datos de ingreso <strong>NO</strong> serán compartidos con nadie.</div>
                                </div>
                            </li>
                            <li>
                                <div class="check_list__content">
                                    <div class="check_list__check">
                                        <div class="circle-check">
                                            <img src="img/check_icon.svg" alt="">
                                        </div>
                                    </div>
                                    <div>Nuestro compromiso es tu seguridad por eso usamos <strong>tecnología de encriptación.</strong></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="widget-demo__steps__box__footer">
    <img src="img/logo.svg" alt="Cirenio">
</div>