<div class="middle-content">
    <div class="vertical-center justify-content-center">
        <div class="widget-demo__steps__box__img d-flex justify-content-center mb-28">
            <img src="img/ok.svg" alt="Exito">
        </div>
        <div class="widget-demo__steps__box__title mb-28 p-0">
            <h2 class="title-alert"><strong>¡Conexión exitosa!</strong></h2>
            <p class="subtitle">Analizaremos tu situación financiera y en unos días nos comunicaremos contigo por mail avisandote si eres apto al crédito solicitado, ¡gracias por tu tiempo!</p>
            <p class="subtitle">Cualquier duda comunicate al <strong>0810 800 5697</strong></p>
        </div>
    </div>
</div>
<div class="widget-demo__steps__box__footer">
    <img src="img/logo.svg" alt="Cirenio">
</div>