<div class="widget-demo__steps__box__steps">
    <div class="progresses complete">
        <div class="steps">
            <span class="font-weight-bold">1</span>
            <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="steps">
            <span class="font-weight-bold">2</span>
            <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="steps">
            <span class="font-weight-bold">3</span>
            <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
</div>
<div class="middle-content">
    <div class="vertical-center justify-content-center">
        <div class="widget-demo__steps__box__img d-flex justify-content-center mb-28 p-0">
            <lottie-player src="img/cirenio_loading.json"  background="transparent"  speed="1"  style="width: 150px; height: 150px;"  loop autoplay></lottie-player>
        </div>
        <div class="widget-demo__steps__box__title mb-28 p-0">
            <p class="loading-text"><span id="percent-loading">24</span>%</p>
            <h2 class="text-start title-loading">
                <svg class="fade-in" width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#1BDB68" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span>Encriptando claves...</span>
            </h2>
            <h2 class="text-start title-loading">
                <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#1BDB68" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span>Verificando identidad...</span>
            </h2>
            <h2 class="text-start title-loading">
                <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#1BDB68" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span>Estableciendo conexión...</span>
            </h2>
            <h2 class="text-start title-loading">
                <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#1BDB68" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span>Conectando cuenta...</span>
            </h2>
        </div>
    </div>
</div>
<div class="widget-demo__steps__box__footer">
    <img src="img/logo.svg" alt="Cirenio">
</div>
<style>
    .fade-in {
        -webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    @-webkit-keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

</style>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>