<div class="widget-demo__steps__box__steps">
    <a href="step-3.html" class="back-btn" title="Volver atras">
        <img src="img/back.svg" alt="Flecha atras">
    </a>
</div>
<div class="middle-content">
    <div class="vertical-center justify-content-center">
        <div class="widget-demo__steps__box__img d-flex justify-content-center mb-28 p-0">
            <img src="img/sad.svg" alt="Error">
        </div>
        <div class="widget-demo__steps__box__title mb-28 text-center p-0">
            <h2 class="title-alert"><strong>Es necesario tener una cuenta bancaria para continuar</strong></h2>
            <p class="subtitle">Para otorgar el crédito es necesario que posea una cuenta bancaria donde reciba ingresos para poder determinar si es apto para el crédito.</p>
        </div>
    </div>
    <div class="widget-demo__steps__box__footer">
        <img src="img/logo.svg" alt="Cirenio">
    </div>
</div>