<div class="middle-content">
    <div class="vertical-center justify-content-center">
        <div class="widget-demo__steps__box__img d-flex justify-content-center mb-28">
            <img src="img/bank.svg" alt="Banco">
        </div>
        <div class="widget-demo__steps__box__title mb-28 p-0">
            <h2 class="title-alert"><strong>Hemos registrado tu banco,</strong> ¡Esperamos poder integrarlo pronto!</h2>
        </div>
    </div>
    <div class="widget-demo__steps__box__footer">
        <img src="img/logo.svg" alt="Cirenio">
    </div>
</div>