<div class="widget-demo__steps__box__steps">
    <a href="#" class="back-btn" title="Volver atras">
        <img src="img/back.svg" alt="Flecha atras">
    </a>
    <div class="progresses step-2">
        <div class="steps">
            <span class="font-weight-bold">1</span>
            <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="steps">
            <span class="font-weight-bold">2</span>
            <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="steps">
            <span class="font-weight-bold">3</span>
            <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4.875L4.13043 7.5L10 1.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
</div>
<div class="middle-content">
    <div class="widget-demo__steps__box__title">
        <h2>¿En que banco recibís tus ingresos?</h2>
        <div class="search">
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Buscar mi banco">
                <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="10" cy="9.58349" rx="7" ry="6.70833" stroke="#020B56" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M21 20.1252L15 14.3752" stroke="#020B56" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <label for="floatingInput-1">Buscar mi banco...</label>
            </div>
        </div>
    </div>
    <div class="widget-demo__steps__box__bank">
        <div class="grid-row" id="banks"></div>
    </div>
</div>
<div class="widget-demo__steps__box__foot row">
    <div class="col col-6">
        <a href="#!">No tengo cuenta bancaria</a>
    </div>
    <div class="col col-6">
        <a href="#!">No encuentro mi banco</a>
    </div>
</div>
<div class="widget-demo__steps__box__footer">
    <img src="img/logo.svg" alt="Cirenio">
</div>